@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #00264e;
  height: 100vh;
  font-family: worksans;
}

@font-face {
  font-family: "worksansLight";
  letter-spacing: 5px;
  src: url("/assets/fonts/WorkSans-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "worksans";
  letter-spacing: 5px;
  src: url("/assets/fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: 400;
  /* url("/assets/fonts/WorkSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/WorkSans-Light.woff2") format("woff2"),
    url("/assets/fonts/WorkSans-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/WorkSans-Bold.woff2") format("woff2"); */
}

@font-face {
  font-family: "worksansMedium";
  letter-spacing: 5px;
  src: url("/assets/fonts/WorkSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "worksansSemibold";
  letter-spacing: 5px;
  src: url("/assets/fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "playfair";
  letter-spacing: -0.7px;
  src: url("/assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("/assets/fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "playfairMedium";
  letter-spacing: -0.7px;
  src: url("/assets/fonts/PlayfairDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "playfairSemibold";
  letter-spacing: -0.7px;
  src: url("/assets/fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "playfairBold";
  letter-spacing: -0.7px;
  src: url("/assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "playfairItalic";
  letter-spacing: -0.7px;
  src: url("/assets/fonts/PlayfairDisplay-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "playfairMediumItalic";
  letter-spacing: -0.7px;
  src: url("/assets/fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "playfairSemiboldItalic";
  letter-spacing: -0.7px;
  src: url("/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2");
}

@layer components {
  .d {
    @apply border-2 border-[#ff0000] border-solid;
  }

  .blade-top-padding {
    @apply pt-8 md:pt-10 lg:pt-12 xlg:pt-16 2xl:pt-20;
    /* needs to be changed*/
  }

  .blade-top-padding-sm {
    @apply pt-4 md:pt-6 lg:pt-8 xl:pt-10 2xl:pt-14;
  }

  .blade-top-padding-lg {
    @apply pt-10 md:pt-12 lg:pt-20 xl:pt-24 2xl:pt-28;
  }

  .blade-top-padding-xl {
    @apply pt-16 md:pt-10 lg:pt-20 xl:pt-28 2xl:pt-36;
  }

  .blade-bottom-padding {
    @apply pb-8 md:pb-10 lg:pb-12 xlg:pb-16 2xl:pb-20;
    /* needs to be changed*/
  }

  .blade-bottom-padding-sm {
    @apply pb-4 md:pb-6 lg:pb-8 xl:pb-10 2xl:pb-14;
    /* needs to be changed*/
  }

  .blade-bottom-padding-lg {
    @apply pb-10 md:pb-12 lg:pb-16 xl:pb-20 2xl:pb-28;
    /* needs to be changed*/
  }

  .blade-bottom-padding-xl {
    @apply pb-16 md:pb-10 lg:pb-20 xl:pb-24 2xl:pb-32;
    /* needs to be changed*/
  }

  .blade-top-margin {
    @apply mt-8 md:mt-10 lg:mt-12 xl:mt-16 2xl:mt-20;
  }

  .blade-top-margin-sm {
    @apply mt-4 md:mt-6 lg:mt-8 xl:mt-10 2xl:mt-14;
  }

  .blade-top-margin-lg {
    @apply mt-10 md:mt-12 lg:mt-16 xl:mt-20 2xl:mt-24;
  }

  .blade-bottom-margin {
    @apply mb-8 md:mb-10 lg:mb-12 xl:mb-16 2xl:mb-20;
  }

  .blade-bottom-margin-sm {
    @apply mb-4 md:mb-6 lg:mb-8 xl:mb-10 2xl:mb-14;
  }

  .blade-bottom-margin-lg {
    @apply mb-10 md:mb-12 lg:mb-16 xl:mb-20 2xl:mb-24;
  }

  .w-container-xs {
    @apply max-w-screen-xl mx-auto w-11/12 lg:w-8/12 sm:px-3;
  }

  .w-container-sm {
    @apply max-w-screen-2xl mx-auto w-11/12 lg:w-10/12 xl:w-[70%] sm:px-3;
  }

  .w-container {
    @apply max-w-screen-2xl mx-auto lg:w-11/12 px-3;
  }

  .w-container-lg {
    @apply md:w-11/12 px-3 max-w-screen-2xl mx-auto;
  }

  .w-container-xl {
    @apply md:w-11/12 px-3 xl:px-16 2xl:px-20 max-w-[1920px] mx-auto;
  }

  .text-big {
    @apply 2xl:text-8xl xl:text-7xl text-4xl;
  }

  .input-style {
    @apply !bg-transparent 2xl:text-lg xlg:text-sm text-[12px] focus-visible:bg-transparent focus:bg-transparent placeholder:text-dark focus-within:bg-transparent focus:outline-none font-normal   border-b-[1px] border-[#3A3D45] w-full xlg:py-3 py-2;
  }

  .input-style-light {
    @apply !bg-transparent 2xl:text-lg xlg:text-sm text-[12px] focus-visible:bg-transparent focus:bg-transparent placeholder:opacity-90 focus-within:bg-transparent focus:outline-none font-normal text-white text-opacity-70 border-b-[1px] border-[#3A3D45] w-full xlg:py-2 py-2;
  }
}

@layer base {
  .text-mega {
    @apply text-[32px] lg:text-[48px] xl:text-[64px] 2xl:text-[96px] leading-none;
  }

  h1 {
    @apply text-[28px] lg:text-[36px] xl:text-[40px] 2xl:text-[64px] leading-tight;
  }

  h2 {
    @apply text-[24px] xl:text-4xl 2xl:text-[48px] md:leading-snug lg:leading-snug 2xl:leading-tight;
  }

  .text-52 {
    @apply text-[24px] lg:text-[36px] xl:text-[40px] 2xl:text-[52px] leading-tight;
  }

  .text-40 {
    @apply text-2xl lg:text-2xl xlg:text-[30px] 2xl:text-[40px] md:leading-snug lg:leading-snug 2xl:leading-snug;
  }

  h3 {
    @apply text-2xl lg:text-2xl xlg:text-3xl 2xl:text-[32px] md:leading-snug lg:leading-snug 2xl:leading-snug;
  }

  h4 {
    @apply text-lg lg:text-xl xlg:text-2xl 2xl:text-[28px] leading-tight md:leading-snug lg:leading-snug 2xl:leading-snug;
  }

  h5 {
    @apply text-sm lg:text-lg  2xl:text-2xl leading-tight md:leading-tight lg:leading-tight 2xl:leading-tight;
  }

  h6 {
    @apply text-sm lg:text-base xl:text-base xlg:text-base 2xl:text-xl leading-tight md:leading-tight lg:leading-tight 2xl:leading-tight;
  }

  p {
    @apply text-sm lg:text-base xl:text-base xlg:text-base leading-tight md:leading-tight lg:leading-tight 2xl:leading-tight;
  }
}

.fill-progressbar {
  background: #2067ca;
}
.swiper-pagination-progressbar-fill {
  background: #2067ca !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #d8d8d8;
  border-radius: 20px;
  visibility: hidden;
}
