.bg-wrapper {
  background: url("../../../public/assets/contact/bg-pattern.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 56%;
  background-color: #00264e;
}

@media screen and (max-width: 1536px) {
  .bg-wrapper {
    background-size: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .bg-wrapper {
    background-size: 100%;
  }
}

.form-container {
  box-shadow: 0px 0px 15px 0px rgba(32, 103, 202, 0.3);
}

.category-button {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.46px;
  letter-spacing: -0.02em;
  text-align: center;
  border: none; /* Remove button borders */
  background: none; /* Remove button background */
  cursor: pointer; /* Add pointer on hover */
}

.active-category {
  text-decoration: underline; /* Underline for active tab */
}

.inactive-category {
  text-decoration: none; /* No underline for inactive tabs */
}

.category-button {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.46px;
  letter-spacing: -0.02em;
  text-align: center;
  border: none; /* Remove button borders */
  background: none; /* Remove button background */
  cursor: pointer; /* Add pointer on hover */
}

.active-category {
  text-decoration: underline; /* Underline for active tab */
  text-underline-offset: 15px; /* Add space between text and underline */
}

.inactive-category {
  text-decoration: none; /* No underline for inactive tabs */
}

.imgCard img{
  height: 100%;
}