.bg-wrapper {
  background: url("../../../public/assets/contact/bg-pattern.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 32%;
  background-color: #2067CA;
  ;
}

.bullet-list {
  list-style-type: disc;
  color: #002D72;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: 22px;
}

.bg-wrapper-card {
  background: url("../../../public/assets/contact/Ripple.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 70%;
  ;
}
.objectFit img{
 object-fit: cover !important;
}

.circles-wrapper .circle {
  position: absolute;
  border-radius: 50%;
  color: transparent;
  transform-origin: center;
  margin: auto;
  inset: 0;
  height: 100%;
  width: 100%;
}

.circles-wrapper .circle:nth-child(6) {
  width: calc(632px - 84px * 6);
  height: calc(632px - 84px * 6);
}

.circles-wrapper .circle:nth-child(5) {
  width: calc(632px - 84px * 5);
  height: calc(632px - 84px * 5);
}

.circles-wrapper .circle:nth-child(4) {
  width: calc(632px - 84px * 4.8);
  height: calc(632px - 84px * 4.8);
  border-style: dashed !important;
}

.circles-wrapper .circle:nth-child(3) {
  width: calc(632px - 84px * 3.5);
  height: calc(632px - 84px * 3.5);
}

.circles-wrapper .circle:nth-child(2) {
  width: calc(632px - 84px * 1.8);
  height: calc(632px - 84px * 1.8);
}

.circles-wrapper .circle:nth-child(1) {
  width: calc(632px - 84px * 0);
  height: calc(632px - 84px * 0);
}

.ripple-effect .circle:nth-child(6) {
  animation: ripple6 3s ease-in-out;
  animation-delay: calc(1000ms - 150ms * 3);
}

.ripple-effect .circle:nth-child(5) {
  animation: ripple5 3s ease-in-out;
  animation-delay: calc(1000ms - 150ms * 2.5);
}

.ripple-effect .circle:nth-child(4) {
  animation: ripple4 3s ease-in-out;
  animation-delay: calc(1000ms - 150ms * 2);
}

.ripple-effect .circle:nth-child(3) {
  animation: ripple3 3s ease-in-out;
  animation-delay: calc(1000ms - 150ms * 1.5);
}

.ripple-effect .circle:nth-child(2) {
  animation: ripple2 3s ease-in-out;
  animation-delay: calc(1000ms - 150ms * 1);
}

.ripple-effect .circle:nth-child(1) {
  animation: ripple1 3s ease-in-out;
  animation-delay: calc(1000ms - 150ms * 0.5);
}

#credit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-family: helvetica, arial, sans-serif !important;
  font-size: 10px;
  color: #12102c;
}

#one {
  border: 1px solid #2067ca;
}

#two {
  border: 1px solid #2067ca;
}

#three {
  border: 1px solid #2067ca23;
}

#four {
  /* border: 0px solid #2067ca; */
}

#five {
  border: 1px solid #2067ca1c;
}

#six {
  border: 1px solid #2067ca0e;
}

/* Scroll-snap ensures smooth scrolling between items */
.scroll-smooth {
  scroll-behavior: smooth;
}

/* Scroll-snap alignment for timeline items */
.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

/* Slide-in animation for timeline items */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animation to timeline items */
.animate-slide-in {
  animation: slideIn 1s ease-in-out forwards;
  opacity: 0;
}

.relative.inline-block.text-center.mx-12 {
  /* Delay each timeline item slightly for a staggered animation effect */
  animation-delay: calc(0.2s * var(--i));
  /* Adjust delay based on index */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.hide-scroll-bar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, WebKit */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  /* Scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e7ff;
  /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  /* Thumb color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6;
  /* Thumb hover color */
}

@keyframes ripple6 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(calc(1.1 + 0.025 * 6));
  }

  50% {
    transform: scale(calc(1 - 0.05 * 6));
  }

  75% {
    transform: scale(calc(1.1 + 0.025 * 6));
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple5 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(calc(1.1 + 0.025 * 5));
  }

  50% {
    transform: scale(calc(1 - 0.05 * 5));
  }

  75% {
    transform: scale(calc(1.1 + 0.025 * 5));
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple4 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(calc(1.1 + 0.025 * 4));
  }

  50% {
    transform: scale(calc(1 - 0.05 * 4));
  }

  75% {
    transform: scale(calc(1.1 + 0.025 * 4));
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple3 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(calc(1.1 + 0.025 * 3));
  }

  50% {
    transform: scale(calc(1 - 0.05 * 3));
  }

  75% {
    transform: scale(calc(1.1 + 0.025 * 3));
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple2 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(calc(1.1 + 0.025 * 2));
  }

  50% {
    transform: scale(calc(1 - 0.05 * 2));
  }

  75% {
    transform: scale(calc(1.1 + 0.025 * 2));
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple1 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(calc(1.1 + 0.025 * 1));
  }

  50% {
    transform: scale(calc(1 - 0.05 * 1));
  }

  75% {
    transform: scale(calc(1.1 + 0.025 * 1));
  }

  100% {
    transform: scale(1);
  }
}

/* journey section  */
.co-development .swiper-carousel {
  /* border: 2px solid red !important; */
  justify-content: end !important;
  align-items: flex-end !important;
}

.co-development .swiper-carousel .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.co-development .swiper-carousel-slide {
  /* border: 2px solid red !important; */
  display: grid !important;
  place-content: end !important;
}

.co-development .swiper-carousel-slide-reverse {
  /* border: 2px solid red !important; */
}

.circle {
  stroke-dasharray: 505;
  stroke-dashoffset: 505;
  animation: draw 4s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}



@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-110%);
  }
}

.scroll-container {
  display: flex;
  overflow: hidden;
}

.scroll-content {
  display: flex;
  animation: scroll 15s linear infinite;
  /* Slower animation (30 seconds) */
  animation-play-state: paused;
  /* Initially paused */
}

/* On hover, play the animation */
.scroll-content.play-animation {
  animation-play-state: running;
}


.custom-link {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.46px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2067CA;
  /* Note: text-align may not apply directly to inline elements like <a>, but it will work on the parent if needed */
}
.borderUnderline{
  border-bottom: 2px solid #2067CA !important;

}

.custom-paragraph {
  font-family: 'Work Sans', sans-serif;
  /* Ensure you have imported this font */
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color:rgb(176, 176, 176)

}

.bullet-list li {
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #00264E;
}

@media (max-width: 600px) {
  .pl-none {
    padding-left: 0 !important;
  }

  .images .w-full .relative {
    width: 100% !important;
    left: 0 !important;

  }

  .pl-none .space-y-3 {
    margin-right: 30px !important;
    min-width: 14rem !important;
  }

  .pb-2 {
    padding-bottom: 3.5rem;
  }

  .scroll-content .relative {
    width: 320px !important;
    height: 320px !important;
  }
  .custom-link {
    font-size: 14px;
}
}

@media (min-width: 601px) and (max-width: 1100px) {
  .pl-none {
    padding-left: 0 !important;
  }

  .images .w-full .relative {
    width: 100% !important;
    left: 0 !important;

  }

  .pl-none .space-y-3 {
    margin-right: 30px !important;
    min-width: 14rem !important;
  }

  .pb-2 {
    padding-bottom: 3.5rem;
  }

  .scroll-content .relative {
    width: 320px !important;
    height: 320px !important;
  }
  .custom-link {
    font-size: 14px;
}
}